@import '../../node_modules/csstyle/csstyle';

html {
	height: 100%;
}

body {
	min-height: 100%;
}

//----------------------------------*\
// CAROUSEL
//----------------------------------*/
$carousel-ui-arrows-padding: 50px;
$carousel-ui-bullet-padding: 40px;
$carousel-ui-bg-sides: #16a085;
$carousel-ui-bg-bottom: #2c3e50;

$carousel-width: (580px + $carousel-ui-arrows-padding);
$carousel-height: (250px + $carousel-ui-bullet-padding);

@include component(carousel) {
	// size component + layout, should be applied as another class?
	max-width: $carousel-width; // can be 100%
	height: $carousel-height; // fixed height required at present, auto breaks ui padding
	margin: 0 auto;

	background-color: $carousel-ui-bg-bottom;

}

// container for holding slide content
@include component(slides) {
	height: inherit;

	// remove ul styles
	list-style-type: none;
	margin: 0;
	padding: 0;

	position: relative; // for ui controls
	background-color: $carousel-ui-bg-sides;
	bottom: $carousel-ui-bullet-padding;

	@include part(item) {
		// could define height here?
		height: inherit;

		// make space for ui controls
		position: absolute;
		left: $carousel-ui-arrows-padding;
		right: $carousel-ui-arrows-padding;

		// for fade transition
		opacity: 0;
		visibility: hidden; // I think this is more appropriate than 'display: none'?

		@include option(active) {
			opacity: 1;
			visibility: visible;
		}

		@include part(img) {
			// fit parent bounds
			width: 100%;
			height: 100%; // could be inherit?
			object-fit: cover; // centers content and scales to fit bounds maintaining aspect ratio
		}
	}
}
